---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from "./SocialLinks.astro";
import { SITE_TITLE } from '../consts';
---

<header class="bg-transparent backdrop-blur-lg fixed w-full h-16">
	<nav class="h-full w-full">
		<h2 class="text-3xl m-0"><a href="/">{SITE_TITLE}</a></h2>
		<SocialLinks class="my-2 mr-2 hidden md:inline-block"/>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
