---
import { Image } from 'astro:assets';
---

<div class="mx-auto max-w-2xl mt-12">
    <h1
        class="text-3xl text-center font-bold tracking-tight text-gray-900 sm:text-4xl"
    >
        <a href="/">
            <Image src="/logo.png" alt="Mastodon" class="mx-auto h-40" />
        </a>
    </h1>
    <p class="mt-2 text-center text-lg leading-8 text-gray-800">
        Updates from the OpenRewind developers.
    </p>
    <p class="mt-1 text-center text-sm text-gray-500">
        Note: Tips on how to use OpenRewind are not included here.<br/>
        Please go to
        <a href="">docs.openrewind.a2x.pub</a>
        instead.
    </p>
</div>
