<div class="mx-auto max-w-2xl mt-12 flex flex-col items-center">
    <div>
        <picture>
            <source media="(prefers-color-scheme: light)" srcset="/img/logo.png" />
            <source media="(prefers-color-scheme: dark)" srcset="/img/logo-dark.png" />
            <img src="/img/logo.png" alt="OpenRewind" class="h-52" />
        </picture>
    </div>
    <!-- <Image src="/logo.png" alt="OpenRewind" class="mx-auto" height="224" width="560" /> -->
    <p class="mt-2 mb-0.5 text-center text-lg leading-8 text-gray-700 dark:text-gray-200">
        Updates from the OpenRewind developers.
    </p>
    <p class="text-center text-sm text-gray-500 dark:text-gray-400">
        Note: Tips on how to use OpenRewind are not included here.<br />
        Please go to
        <a href="">docs.openrewind.a2x.pub</a>
        instead.
    </p>
</div>
<div
    class="relative left-1/2 -translate-x-1/2 w-[70vw] max-w-[64rem] h-0.5 bg-slate-400 dark:bg-gray-600 rounded-sm mb-8 mt-12"
>
</div>
